

body {
  margin: 5%;
  background-color: #F9FBE7;
}

fieldset {
	padding-top: 2em;
	text-align: center;
	height: 20em;
	width: 100%;
}

.healthy {
  text-align: center;
}

#fightLog {
  text-align: center;
}

.class-select {
	width: 15em;
	display: inline;
	margin: 1em;
}

#attack-button {
	margin-bottom: 3em;
}

/*#resetButton {
  display: block;
}*/


/******************************
Animations
******************************/

.AttackedPlayerDiv {
  animation: attacked-player-div 2s 0s 1 ease-out;
}

@keyframes attacked-player-div {
  0% {
    background: rgba(255, 0, 0, 0.9);
    transform: translateX(5px);
  }
  20% {
    background: rgba(255, 0, 0, 0.1);
    transform: translateX(-5px);
  }
  40% {
    background: rgba(255, 0, 0, 0.5);
    transform: translateX(5px);
  }
  60% {
    background: rgba(255, 0, 0, 0.1);
    transform: translateX(-5px);
  }
  80% {
    background: rgba(255, 0, 0, 0.5);
    transform: translateX(5px);
  }
  100% {
    background: rgba(255, 0, 0, 0.9);
    transform: translateX(-5px);
  }
}/*end keyframe*/
